.badge-public {
    color: white;
    background-color: #257945;
}

.badge-onlyreg {    
    background-color: #deda5b;
}

.badge-private {
    color: white;
    background-color: #721015;
}

.badge-holder {
    color: white;
    background-color: #1f5fa3;
}

.badge-owner {    
    color: black;
    background-color: #f4c542;
}

.badge-admin {
    color: white;
    background-color: #b22222;
}

.badge-member {
    color: white;
    background-color: #6c2ca0;
}

.badge-guest {
    color: black;
    background-color: #a7d0e6;
}