/* https://codepen.io/jason-knight/pen/poWpLzJ?editors=1100 */
/* https://css-tricks.com/a-clever-sticky-footer-technique/ */
html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
    flex-grow: 0;      
}

.footerMenu {
    display: flex;
    width: 100%;
    text-align: right;
    padding: 1rem clamp(1rem, 3vw, 2rem);    
}

.footerMenu ul {
    flex-grow: 0;
}

.footerMenu li {
    display: inline;
    margin-right: 0.8rem;
}

#companyName{
    min-width: fit-content;
}