.play-pause-metronome-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.number-metronome {
  font-size: 30px;
  text-align: center;
}

.subtext-metronome {
  font-size: 20px;
  text-align: center;
}

.metronome-controls {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  touch-action: manipulation;
}

.tempo-container {
  margin: 0 15px;
}

.play-metronome-icon {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #e9e9e9;
  margin-left: 5px;
}

.pause-metronome-icon {
  width: 10px;
  height: 30px;
  border: none;
  border-left: 10px solid #e9e9e9;
  border-right: 10px solid #e9e9e9;
  box-sizing: revert;
}

.metronome-switch {
  transform: scale(1.4);
}

[data-id="beatsperbar-change"]{
  margin-left: 7px;
  margin-right: 7px;
}

@font-face {
  font-family: "Bravura";
  src: url("../../../common/fonts/Bravura.otf") format("opentype");
}
.music-symbols {
  font-family: "Bravura", serif;
  font-size: 34px;
}

@keyframes blink {
  0% {    
    background-color: #ffc107;
  }
}